
.dropdown-menu {
  padding: 10px;
  width: 300px;
}

.menu-line {
  width: 100%;
  height: 30px;
  background-color: lightgrey;
  display: block;
}

.hidden {
  display: none;
}
.hovering-item {
  background-color: blue;
}